


*.box { display:block;
    overflow:auto;     visibility:visible;
    width:220px;       height:100px;
    margin:30px auto;  padding:40px;


    border-left:15px solid gray; border-right:5px solid black;
    border-top:5px solid gray;  border-bottom:5px solid black;
    background-color:gold; }

