*.positioned{position: relative}
*.absolute{
    position: absolute;
    top: 10px;
    left: 10px;}

div{
    width:900px;
    height: 200px;
    border: solid 2px black;
    margin-left: 50px;
    margin-top: 50px;
}
span{
    border: solid 2px red;
    background-color: yellow;

}
